<h2>Welcome to the shittiest of Reddits!</h2>
<% if @shreds%>
  <ol>
    <% @shreds.each do |shred| %>
    <li>
      <a href="<%= shred_url(shred) %>" >
        <b><%= shred.name %></b>: <%= shred.title %>         
      </a>
      <br><%= shred.description %> 
    </li>
    <% end %>
  </ol>
<% end %>
<%= button_to 'Create a new Shred!', new_shred_url, :method => :get %>
