<br>
<br>
<br>
<div>
  <form action="<%= shreds_url %>" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <div class="row">  
      <div class="span2"></div>
      <div class="span6">
        <label>Name:<br>
          <input type="text" name="shred[name]" value="<%=@shred.name%>">
        </label>
      </div>
    </div>
    <br>
    <div class="row">   
      <div class="span2"></div>
      <div class="span6">
        <label>Title:<br>
          <input type="text" name="shred[title]" value="<%=@shred.title%>">
        </label>
      </div>
    </div>
    <br>
    <div class="row">   
      <div class="span2"></div>
      <div class="span6">
        <label>Description:<br>
          <textarea name="shred[description]"><%=@shred.description%></textarea>
        </label>
      </div>
    </div>
    <br>
    <div class="row"> 
      <div class="span2"></div>  
      <div class="span6">
        <label>Sidebar:<br>
          <textarea name="shred[sidebar]"><%=@shred.sidebar%></textarea>
        </label>
      </div>
    </div>
    <br>
    <div class="row">  
      <div class="span4"></div> 
      <div class="span6">
        <input type="submit" value="Create!">
      </div>
    </div>
  </form>  
</div>